.aftermath {
  position: relative;
  overflow: hidden;

  @mixin atLarge {
    background-image: linear-gradient(to right, var(--main-red) calc(35% - 450px), whitesmoke calc(35% - 450px));
    height: calc(100vh - 35px);
  }

  &__container {
    @mixin atLarge {
      background-color: whitesmoke;
      padding-top: 100px;
      margin-left: calc(45% - 550px);
      border: 10px solid whitesmoke;
    }
  }

  &__quote {
    margin: 80px auto;
    width: 300px;

    @mixin atMedium {
      position: absolute;
      bottom: 450px;
      left: calc(350px + (30% - 200px));
    }

    @mixin atLarge {
      width: 450px;
      margin: 0;
      bottom: 5%;
      left: calc(40% - 300px);
    }
  }

  &__image {
    height: 700px;
    display: block;
    margin: 0 auto;

    @mixin atMedium {
      height: 900px;
      margin-left: calc(30% - 200px);
    }

    @mixin atLarge {
      position: absolute;
      bottom: 0px;
      left: 55%;
      margin: 0;
      max-height: 90%;
    }
  }

  &__glass-quote {
    position: absolute;
    bottom: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

    @mixin atMedium {
      bottom: 100px;
      padding: 10px;
    }

    @mixin atLarge {
      width: 600px;
      right: calc(21% - 300px);
      bottom: 5%;
    }
  }

  &__glass-quote__text {
    font-family: 'Romantic Couple';
    font-size: 1.5rem;
    width: 90%;
    max-width: 567px;
    margin: 20px auto;
    color: black;
    font-weight: 700;

    @mixin atMedium {
      font-size: 2rem;
    }
  }

  &__glass-quote__tribute {
    @mixin atMedium {
      margin-top: -30px;
      margin-left: 40%;
      max-width: 400px;
    }
    @mixin atLarge {
      margin-top: -10px;
      margin-left: 20%;
    }
  }
}