.cause-of-war {
  background-color: var(--main-black);
  position: relative;
  z-index: -1;
  padding-top: 50px;

  @mixin atLarge {
    background-image: linear-gradient(to right, #B08A64 0.5%, white 0.5%, white 33%, var(--main-black) 33%);
    padding-top: 0;
  }

  &__heading {
    @mixin atLarge {
      position: absolute;
      bottom: calc(40% + 260px);
      left: 4%;
      z-index: 1;
    }
    @mixin atUltra {
      left: 12%;
    }
  }

  &__image {
    display: block;
    margin: 0 auto;

    @mixin atLarge {
      position: absolute;
      bottom: 0px;
      left: 55%;
      max-height: 80%;
      z-index: -1;
    }
  }

  &__white-section {
    @mixin atLarge {
      position: absolute;
      left: 1%;
      bottom: calc(40% - 50px);
      background-color: white;
      width: 750px;
      max-width: 750px;
    }

    @mixin atUltra {
      left: 10%;
    }
  }

  &__section {
    position: absolute;
    background-color: var(--main-red);
    padding: 6px 0px;
    bottom: 50px;
    width: 100%;

    @mixin atMedium {
      padding: 25px 0px;
    }

    @mixin atLarge {
      padding: 0;
      max-width: 700px;
      bottom: calc(40% - 320px);
      left: 10%;
    }

    @mixin atUltra {
      left: 20%;
    }
  }
}