.cause-of-war {
  background-color: var(--main-black);
  position: relative;
  z-index: -1;
  padding-top: 50px;

  &__image {
    display: block;
    margin: 0 auto;
  }

  &__section {
    position: absolute;
    background-color: var(--main-red);
    padding: 6px 0px;
    bottom: 50px;
    width: 100%;

    @mixin atMedium {
      padding: 25px 0px;
    }
  }
}