.public-outcry {
  overflow: hidden;
  position: relative;

  @mixin atLarge {
    background-image: linear-gradient(to right, whitesmoke 66%, var(--main-red) 66%);
  }

  &__container {
    @mixin atLarge {
      padding-top: 80px;
      margin-left: 20px;
      padding-left: calc(20% - 220px);
    }
  }
  
  &__section {
    background-color: var(--main-red);
    margin: 40px auto 0 auto;
    padding-top: 35px;
    overflow: hidden;

    @mixin atMedium {
      padding-bottom: 50px;
    }
    
    @mixin atLarge {
      max-width: 1000px;
      background-color: whitesmoke;
      margin: 0;
      margin-top: calc(5% - 100px);
      padding: 0;
    }
  }

  &__image {
    display: block;
    width: 100%;
    max-width: 1000px;
    margin: -5px auto;

    @mixin atMedium {
      display: none;
    }

    @mixin atLarge {
      display: block;
      position: absolute;
      bottom: 0px;
      left: 66%;
    }
  }
}