body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  background-color: whitesmoke;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  max-height: auto;
}

* {
  box-sizing: border-box;
}

.fullscreen-at-large {
  @mixin atLarge {
    min-height: 900px;
    height: 100vh;
  }
}

.hidden-at-small {
  display: none;
  @mixin atMedium {
    display: block;
  }
}

.hidden-at-medium {
  display: none;
  @mixin atLarge {
    display: block;
  }
}