.heading {
  font-family: 'NIGHTMARE PILLS';
  font-size: 44px;
  text-align: center;
  line-height: 42px;

  &--black {
    color: #303030;
    -webkit-text-stroke: 0.5px rgba(90, 90, 90, 0.5);
  }
  &--red {
    color: #852222;
    -webkit-text-stroke: 0.5px rgba(133, 34, 34, 0.5);
  }

  &--block {
    display: block;
  }
}