.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 500px;
  background-color: #222;
  background-image: url(/src/img/texture.png);
  z-index: 4;

  &__container {
    position: relative;
    width: 100%;
    max-width: 1580px;
    height: 100%;
    margin: 0 auto;
  }

  &__text {
    position: absolute;
    text-align: center;
    width: 96%;
    max-width: 750px;
    top: 50px;
    left: 2%;

    @mixin atMedium {
      top: 15%;
      margin-left: calc(45% - 350px);
    }

    @mixin atLarge {
      top: 20%;
      margin-left: 0;
    }
  }

  &__heading {
    margin: 0;
    font-weight: 100;
  }

  &__heading__main {
    font-family: 'NIGHTMARE PILLS';
    color: var(--heading-red);
    font-size: 148px;
    line-height: 110px;
    display: block;

    @mixin atMedium {
      display: inline;
      margin-left: 15px;
    }
    @mixin atLarge {
      font-size: 164px;
    }
  }

  &__subheading {
    font-family: 'Romantic Couple', 'cursive';
    color: var(--heading-white);
    font-size: 58px;

    @mixin atMedium {
      font-size: 70px;
    }
  }

  &__great {
    display: block;

    @mixin atMedium {
      width: 50%;
    }
  }

  &__australia {
    display: none;
    text-align: right;
    margin-right: 10%;

    @mixin atMedium {
      display: block;
    }
  }

  &__date {
    display: none;
    font-family: serif;
    font-size: 1.25rem;
    position: absolute;
    bottom: 30px;
    left: 9%;
    color: #757575;

    @mixin atMedium {
      display: block;
    }

    @mixin atLarge {
      left: 4%;
    }
  }

  &__quote, &__tribute {
    display: none;
    position: absolute;
    left: 5%;

    @mixin atLarge {
      display: block;
    }

    @mixin atSmall {
      display: none;
    }
  }

  &__quote {
    bottom: calc(40% - 150px);
    max-width: 450px;
    color: #757575;
  }

  &__tribute {
    bottom: calc(40% - 220px);
  }

  &__image {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    max-height: 65%;
    z-index: 4;

    @mixin atLarge {
      right: 25%;
      max-height: 85%;
    }
  }

  &__decoration {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.25);
    border-top: #707070 solid 3px;
  }
}